@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  [class*="col-"] {
    width: 100%;
  }
  .header-col>* {
    text-align: center;
    font-size: 28px;
  }
}

@media only screen and (min-width: 600px) {
  /* For tablets: */
  .header-col>* {
    text-align: center;
    font-size: 28px;
  }
}

@media only screen and (min-width: 768px) {
  /* For desktop: */
  .h1-left {
    text-align: left;
  }
  .h3-right {
    text-align: right;
  }
}
